

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.verydarkgrey{
  background-color: #181818;
}
.darkgrey{
  background-color:	#282828;
}
.lightgrey{
  background-color: #383838;
}
.lightergrey{
  background-color: #484848;
}



.midnightblue{
  background-color:MidnightBlue;
}


.green{
  background-color:#0A450F;
  }
  .red{
    background-color:#750900;
  }
  .blue{
    background-color:#262F73;
  }
  .orange{
    background-color:#B78800;
  }

  .lila{
    background-color:purple;
  }
  .rund{
    border-radius: 5pt;
  }


button{
 padding: 5px 3px;
 font-size:16px;
 text-align:center;
 color:red;
 border: 2px solid #4CAF50; /* Green */
 border-radius:10px;
}
button:hover{
  background-color:red;
  color:white;
}

h1{
	text-align:center;
	font-size:16pt;

}
h2{
	text-align:center;
	font-size:14pt;

}
h3{
	text-align:left;
	font-size:12pt;
}

.page{
  display:flex;
  flex-wrap:wrap;
  /*flex-flow:row wrap;*/
    color:darkgrey;
}

.menu {
  height: 40px;
 padding: 5pt;
 width:100%;
}

.aufgabenübersicht{
  padding: 10pt;
  width:10%;
height:auto;
  font-size: 16pt;
  display:flex;
flex-direction:column;
justify-content: space-around;

}
/*Elemente der Aufgabenübersicht (links bzw oben)*/
.menüüberschriften{
  padding:5pt;
}
.menüüberschriften:hover{
  background-color:pink;
  color:blue;
}

.innerpage {

	font-size:12pt;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, Helvetica, Times New Roman;
  width: 90%;
}
.bigsection{
  width: 100%;
  height: flex;
  padding: 5pt;
  justify-content: center;
  align-items: center;
}


.section {
  width: 100%;
  height: flex;
  padding: 5pt;
  justify-content: center;
  align-items: center;
}


.main {
  height: flex;
  padding: 5pt;
}

.aufträge,
.lösungen{
  height: flex;
 padding: 5pt;
}

.auftrag,
.lösung
  {
	display:flex;
	padding: 5pt;
}

/*Buchstaben-Div-Breite*/
.überschrift{
width:6%;
}
.auftragsText{
	width: 95%;
}


/*VierfelderTafel*/

.gridFenster{
  margin:auto;
  /*justify-content:center;*/
  width: 88%;
	height:90%;
	display:grid;
	padding:3pt;
	grid-gap:3pt;
	grid-template-columns:24% 24% 24% 24%;
	grid-template-rows:23.5% 24% 24% 24%;
}

DIV.intro{	display:flex;
height:100%;
align-items:center;
justify-content:center;
}

DIV.intro p{  margin: 0;
	text-align:center;
    }

    /*Buntes Baumdiagramm:*/
.svg{
  pointer-events: fill;
  height:250pt;
  position: relative;
  left: 0;
  top: 0;
  align-content: center;

}

#baumStamm{
  style-fill: green;
}




/* Mobile Styles */
@media only screen and (max-width: 450px) {
  body {

	width:100%;
  }
  .menu,
  .aufgabenübersicht,
  .innerpage,
  .svg,
  .gridFenster,
  .gridContainer,
  .aufträge,
  .lösungen,
  .baumDiagramm{width:100%;
  }

  .aufgabenübersicht{
    font-size:12pt;
 height:100pt;

    display:flex;
    flex-wrap:wrap;
  flex-direction:row;

  }

}

/* Tablet Styles */
@media only screen and (min-width: 450px) and (max-width: 960px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
	height: 100pt;
    width: 50%;
  }
  .aufträge,
  .lösungen{width:50%;
  }
    .content{
	  height:80%;
  }

  .gridContainer
  {
	  width:33%;
  }

    .svg{width:67%;}
.innerpage{
  flex:8;
}
  .aufgabenübersicht{
    width:100%;
    font-size:14pt;
    display:flex;
  flex-direction:row;
  flex-wrap:wrap;
 height:80pt;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: auto;
    margin: 0 auto;
  }
  .aufträge,
  .lösungen{
	  width: 50%;
  }

	.auftrag1,
	.auftrag2,
	.auftrag3,
	.auftrag4,
	.auftrag5,
	.auftrag6,
	.auftrag7,
	.auftrag8,
	.feature-1,
	.feature-2  {
		height:flex;
		width: 100%;
  }
	.lösung1,
	.lösung2,
	.lösung3,
	.lösung4,
	.lösung5,
	.lösung6,
	.lösung7,
	.lösung8  {
		height:flex;
		width: 100%;
  }

  .gridContainer{
	  width:50%;
  }
  .svg{width:50%;}


  .aufgabenübersicht{
    width:auto;
    display:flex;
  flex-direction:column;

  }
  .innerpage {
    flex:8;
  }

}
