

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menüüberschriften{
  padding:5pt;
}
.menüüberschriften:hover{
  background-color:pink;
  color:blue;

}
.green{
  background-color:green;
  }
  .red{
    background-color:red;
  }
  .lila{
    background-color:purple;
  }
  .blue{
    background-color:#324591;
  }
  .orange{
    background-color:orange;
  }

button{
 background-color:green;
 padding: 5px 3px;
 font-size:16px;
 text-align:center;
 color:red;
 border: 2px solid #4CAF50; /* Green */
 border-radius:10px;
}
button:hover{
  background-color:red;
  color:white;
}

h1{
	text-align:center;
	font-size:16pt;
  background-color:black;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  border-radius: 5pt;

}
h2{
	text-align:center;
	font-size:14pt;

  background-color:#181920; /*gray*/
    border-color: black;
    border-width: 2px;
    border-style: solid;
  border-radius: 5pt;

}
h3{
	text-align:left;
	font-size:12pt;

  background-color:#2D2F3D;
    border-color: black;
    border-width: 2px;
    border-style: solid;
  border-radius: 5pt;
}

.page{
  display:flex;
  flex-wrap:wrap;
    color:#D6E9FE;
}

.menu {

  background-color: MidnightBlue;
  height: 40px;
 padding: 5pt;
 width:100%;
}

.aufgabenübersicht{
  padding: 10pt;
  width:10%;
height:600pt;
  font-size: 16pt;
  background-color: MidnightBlue;
  display:flex;
flex-direction:column;
justify-content: space-around;

}

/*Buchstaben-Div-Breite*/
.überschrift{
width:6%;
}

.auftragsText{
	width: 95%;
}



.innerpage {

	font-size:12pt;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, Helvetica, Times New Roman;
  width: 90%;
}
.bigsection{
  width: 100%;
  height: flex;

  padding: 5pt;
  justify-content: center;
  align-items: center;
}


.section {
  width: 100%;
  height: flex;

  padding: 5pt;
  justify-content: center;
  align-items: center;
}


.main {
  background-color: MidnightBlue;
  height: flex;
  padding: 5pt;
}

.aufträge,
.lösungen{
  background-color:  MidnightBlue;
  height: flex;


 padding: 5pt;
border-color: black;
border-width: 2px;
border-style: solid;
}
.gerade{
  background-color:steelblue;
border-color:steelblue;
    border-width: 2px;
    border-style: solid;
  border-radius: 5pt;
}
.ungerade{
  background-color:MidnightBlue;
}
.auftrag
  {
	display:flex;
	padding: 5pt;
}


.gridContainer{
	background-color: MidnightBlue;

}



.gridFenster{
  margin:auto;
  /*justify-content:center;*/
  border-radius: 5pt;
  width: 88%;
	height:180pt;
	display:grid;
	padding:3pt;
	grid-gap:3pt;
	grid-template-columns:24% 24% 24% 24%;
	grid-template-rows:23.5% 24% 24% 24%;
	background-color: #D6E9FE;

  /* white: #D6E9FE*/
}


DIV.intro{	display:flex;
	height:100%;
background-color: Midnightblue;
border-radius: 5pt;
align-items:center;
justify-content:center;
}

DIV.intro p{  margin: 0;
	text-align:center;
    }

    /*Bunte Vierfeldertafel:*/

div.mittelfeld{
      background-color: darkorange; //gold-gelb
    }
div.rechtsfeld{
    background-color: darkgreen; //gold-gelb
}
div.untenfeld{
    background-color: darkred; //gold-gelb
}

    /*Buntes Baumdiagramm:*/

#baumStamm{
  style-fill: green;
}




.svg{
  pointer-events: fill;
  background-color: MidnightBlue;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height:250pt;
  position: relative;
  left: 0;
  top: 0;
  align-content: center;
}

#mySVG{


 background-color: MidnightBlue;

}



.feature-1 {  background-color: #D6E9FE;
}

 .feature-2 {  background-color: #5995DA;
  }





/* Mobile Styles */
@media only screen and (max-width: 450px) {
  body {
    background-color: #F09A9D; /* Red */
	width:100%;
  }
  .menu,
  .aufgabenübersicht,
  .innerpage,
  .svg,
  .gridFenster,
  .gridContainer,
  .aufträge,
  .lösungen,
  .baumDiagramm{width:100%;
  }

  .aufgabenübersicht{
    font-size:12pt;
 height:100pt;
    background-color: green;
    display:flex;
    flex-wrap:wrap;
  flex-direction:row;

  }

}

/* Tablet Styles */
@media only screen and (min-width: 450px) and (max-width: 960px) {
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
	height: 100pt;
    width: 50%;
  }
  .aufträge,
  .lösungen{width:50%;
  }
    .content{
	  height:80%;
  }

  .gridContainer
  {
	  width:33%;
  }

    .svg{width:67%;}
.innerpage{
  flex:8;
}
  .aufgabenübersicht{
    width:100%;
    font-size:14pt;
    background-color: orange;
    display:flex;
  flex-direction:row;
  flex-wrap:wrap;
 height:80pt;
  }

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: auto;
    margin: 0 auto;
  }
  .aufträge,
  .lösungen{
	  width: 50%;
  }

	.auftrag1,
	.auftrag2,
	.auftrag3,
	.auftrag4,
	.auftrag5,
	.auftrag6,
	.auftrag7,
	.auftrag8,
	.feature-1,
	.feature-2  {
		height:flex;
		width: 100%;
  }
	.lösung1,
	.lösung2,
	.lösung3,
	.lösung4,
	.lösung5,
	.lösung6,
	.lösung7,
	.lösung8  {
		height:flex;
		width: 100%;
  }

  .gridContainer{
	  width:50%;
  }
  .svg{width:50%;}


  .aufgabenübersicht{
    width:auto;
    display:flex;
  flex-direction:column;

  }
  .innerpage {
    flex:8;
  }

}
